.my-friends {
    border-style: solid;
    width: 40%;
    height: 800px;
}

.searched-users {
    border-style: solid;
    width: 40%;
    height: 800px;
}

.search-input {
    font-size: 25px;
}

.search-button {
    font-size: 25px;
}