.form-header {
  color: white;
  background-color: rgb(67, 206, 200);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.form-input {
  background-color: rgba(67, 206, 200, 0.1);
  border: 3px solid rgb(67, 206, 200);
  color: rgba(6, 56, 54, 1);
  font-weight: 700;
  margin-bottom: 15px;
}

.form-input::placeholder {
  color: rgba(6, 56, 54, 0.4);
}

