@import url("https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Raleway:wght@200&family=Ropa+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,300&display=swap");

body {
  /* background-color: #000000; */
  font-family: "Raleway", sans-serif;
  color: black;
  /* background-image: url("https://images.unsplash.com/photo-1541855099555-42c6a7c57cfa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&https://images.unsplash.com/photo-1505692794401-b371fa865622?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80=format&fit=crop&w=934&q=80"); */
  background-size: cover;
  background-attachment: fixed;
}

/* .item-description {
} */

.item-image {
  /* border-radius: 8px; */
  border: 1px solid #ddd;
  border-radius: 4px;
  /* padding: 5px; */
  width: 150px;
}

.more-less-button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* 
.App {
  display: grid;
  grid-template-columns: repeat(5, 1fr, 2fr, 2fr, 2fr, 1fr);
  grid-auto-rows: minmax(100px, auto);
  align-items: center;
  grid-template-areas:
    ". . . . ."
    ". bt bt bt ."
    ". . rm . ."
    ". tb tb tb .";
}

.remaining {
  grid-area: rm;
  margin: auto;
} */
