 .shop-container {
  display: flex;
}

.category {
  padding: 8px 0px 8px 16px;
  height: auto;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
}

.category:hover {
  background-color: #1a83ff;
  cursor: pointer;
}

.active {
  height: auto;
  font-size: 16px;
  width: 75%;
  left: 0;
  opacity: 0.85;
  background-color: white;
}

.subcategory {
  display: none;
}

.subcategory-links:hover {
  background-color: #1a83ff;
  cursor: pointer;
}

.shop-main {
  justify-content: center;
  text-align: center;
}

.dd-wrapper {
  display: grid;
  grid-template-columns: 250px 1fr 300px;
  grid-column-gap: 40px;
}

.item-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: auto;
  width: 100%;
  grid-row-gap: 20px;
}

@media only screen and (max-width: 1200px) {
  .item-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.item-card {
  margin-right: 30px;
  margin-top: 50px;
  display: inline-grid;
  height: 85%;
  width: 85%;
  text-align: center;
  font-weight: bold;
}

.item-card:hover {
  cursor: pointer;
  font-size: 22px;
}

.item-card-price {
  width: 100%;
  height: 10%;
  font-size: 22px;
  color: #d6370f;
  font-weight: bold;
}

.shop-right {
  height: 500px;
  overflow-y: scroll;
}

.our-shop-right {
  height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.item-right-card {
  display: flex;
  width: 100%;
}

.fridge-button {
  height: 50px;
  width: 27%;
  border-radius: 6px;
}

.fridge-button:hover {
  cursor: pointer;
  background-color: #ff4500;
}

.item-right-price {
  margin-top: 15px;
  font-size: 22px;
  width: 35%;
}

.item-right-card.img {
  width: "50px";
}

@media only screen and (max-width: 600px) {
  .item-container {
    display: grid;
    grid-template-columns: 10px 10px 10px 10px;
    grid-template-rows: auto;
    height: auto;
    width: auto;
    border-style: solid;
  }

  .item-card {
    display: inline-grid;
    height: 300px;
    width: 30.6%;
    margin: 10px 10px 10px 10px;
    border-style: solid;
  }
}